<h1>Dashboard</h1>

<h2>Your Ads</h2>

<%= link_to "New ad", new_ad_path %>

<% cache @ad do %>
    <div id="ads">
        <% @ads.each do |ad| %>
        <div>
            <%= link_to ad.name, ad %>
        </div>
        <% end %>
    </div>
<% end %>
