<div>
    <h1>Ad Listings</h1>
    <%= link_to "New ad", new_ad_path %>

    <% cache @ad do %>
        <div id="ads">
            <% @ads.each do |ad| %>
            <div>
                <%= link_to ad.name, ad %>
            </div>
            <% end %>
        </div>
    <% end %>
</div>
